
<div id="page-content">
    <ul class="breadcrumb breadcrumb-top" id="user-breadscrumb">
        <!-- <li>欢迎页</li> -->
        <!-- <li><a href="">Buttons &amp; Dropdowns</a></li> -->
    </ul>
    <div class="content-header">
        <div class="header-section">
            <ul class="nav nav-tabs push" id="user-tabs" data-toggle="tabs">
                <!-- <li class="active"><a href="#welcome">欢迎页<i class="gi gi-remove_2" onclick="removeTab(this);"></i></a></li> -->
                <!-- <li class=""><a href="#example-tabs-profile">Profile</a></li>
                <li class=""><a href="#example-tabs-messages">Messages</a></li> -->
            </ul>
        </div>
    </div>

    <div class="tab-content" id="user-tab-content">
        <div class="tab-pane active" id="welcome">welcome</div>
        <!-- <div class="tab-pane" id="example-tabs-profile">Profile..</div>
        <div class="tab-pane" id="example-tabs-messages">Messages..</div> -->
    </div>
    
</div>
<script type="text/javascript">
    function eva (arg) {
        alert(arg);
    }
</script>
<!-- END Page Content -->